@{
    ViewData["Title"] = "Home Page";
}

@if (! string.IsNullOrEmpty(ViewBag.Error))
{
    <p class="text-danger">@ViewBag.Error</p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Color via managed identity</h1>
        <p>@ViewBag.Color</p>
    </div>
}
